<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>EJS, world!</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Available Therapists</h1>
        <p class="lead">Please enter Appointment time and book your favorite therapist</p>
      </div>
    </div>
    <div class="container">
      <% for (var i = 0; i < fruits.length; i++) { %>
        <div class="card col-md-4" style="width: 18rem;">
         
             <div class="card-body">
               
                
              <h5 class="card-title"><%= fruits[i].Name %> %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= fruits[i].id %> </h6>
              <p class="card-text">₹ <%= fruits[i].Charges %></p>
               <form action="bookingInfo?data=<%=fruits[i].id %>" method="POST">
                <p>Convinced? Select date and time to Book appointment with this Therapist</p>
                <input type="date" name="appdate" id="appdate">
                <button class="btn btn-success" type="submit">Book</button>
              </form>
            
            </div>
           
          </div>
          <% } %>
        <ul>
           
          </ul>
          

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>